.footer {
  min-height: 100px;
  background: #c52cd3;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #310144;
  color: aliceblue;
}
